---
import Layout from '../layouts/Layout.astro';
import NavBar from '../components/navBar/NavBar.astro';
import FavoriteTechnology from '@/components/common/FavoriteTechnology';
import CommonFooter from '@/components/footer/CommonFooter.astro';

import { GrCertificate } from "react-icons/gr";
import { AiFillSafetyCertificate } from "react-icons/ai";


---

<Layout class="w-full flex flex-col justify-between">
    <div class="flex flex-col justify-between w-full h-full">
        <div>
            <NavBar />
            <main class="flex flex-col md:flex md:flex-row mt-20">
                <section
                    class="md:w-1/2 md:pr-10 flex flex-col items-center md:items-end md:border-r-2 md:border-grayLight animate-blurFade border-b border-grayLight pb-10 md:border-b-0 md:pb-0"
                >
                    <h2
                        class="text-white md:text-[1.4rem] tracking-[.2rem] text-center md:text-end"
                    >
                        me llamo Samuel
                    </h2>
                    <h1
                        class="text-yellow-500 text-[1.4rem] font-bold md:text-[2rem] tracking-[.4rem] text-center md:text-end"
                    >
                        DESARROLLADOR FRONTEND
                    </h1>
                    <p
                        class="text-grayLight text-center md:text-end md:w-[95%] prose-p:text-grayLight prose"
                    >
                    Hace más de dos años, descubrí mi pasión por el desarrollo web, explorando las herramientas principales para crear diseños simples y funcionales que transmitan ideas de manera efectiva en el ámbito digital. Creo firmemente en la importancia de un código limpio y un diseño adecuado para lograr este propósito.
                    </p>
                    <div class="flex gap-3 mt-5">
                        <a href="/proyects" class="text-grayLight text-[1rem] border border-white px-3 py-1 bg-transparent hover:bg-white hover:text-gray-900 transition-colors duration-300">proyectos</a>
                        <a href="/contact" class="text-grayLight text-[1rem] border-b border-white px-3 py-1 bg-transparent hover:bg-white hover:text-gray-900 transition-colors duration-300">contáctame</a>
                    </div>
                </section>
                <section
                    class="md:w-1/2 md:pl-10 flex flex-col items-center md:items-start mt-10 md:mt-0 text-[1.5rem] md:text-[2rem] animate-blurFade duration-[1.5s]"
                >
                    <h2
                        class="text-white md:text-[1.4rem] tracking-[.2rem] text-center md:text-end"
                    >
                        mis tecnologías favoritas
                    </h2>
                    <FavoriteTechnology client:visible />
                    <div class="flex flex-col gap-3 mt-7 md:mt-3">
                        <h3 class="text-white md:text-[1.4rem] tracking-[.2rem] text-center md:text-start">actividades recientes</h3>
                        <div class="flex flex-col gap-1">
                            <div class="flex items-center gap-2 justify-center md:justify-start">
                                <GrCertificate className="text-yellow-500 text-[1.2rem]"/>
                                <span class="text-grayLight text-[1.2rem]">+30 Licencias y certificados</span>
                            </div>
                            <div class="flex items-center gap-2 justify-center md:justify-start">
                                <AiFillSafetyCertificate className="text-yellow-500 text-[1.2rem]"/>
                                <span class="text-grayLight text-[1.2rem]">Estudiante del programa FullStackOpen</span>
                            </div>
                        </div>
                    </div>
                    <a href="/cv/cv.pdf" target="_blank" class="text-grayLight text-[1rem] border border-white px-3 py-1 bg-transparent hover:bg-white hover:text-gray-900 transition-colors duration-300 mt-[23px]">revisar curriculum</a>
                </section>
            </main>
        </div>
        <div class="pb-10">
            <CommonFooter />
        </div>
    </div>
</Layout>
