---
import { FaGithub, FaLinkedin, FaInstagram } from 'react-icons/fa';
---

<footer
class="flex w-full justify-center gap-3 h-20 items-center animate-blurFade duration-[1.5s]"
>
<a
    href="https://github.com/INKINSS"
    target="_blank"
    rel="noopener noreferrer"
>
    <FaGithub
        size={24}
        className="fill-grayLight hover:fill-white transition-colors duration-300 hover:scale-110 hover:cursor-pointer"
    />
</a>
<a
    href="https://www.linkedin.com/in/samuel-p%C3%A9rez-dev/"
    target="_blank"
    rel="noopener noreferrer"
>
    <FaLinkedin
        size={24}
        className="fill-grayLight hover:fill-white transition-colors duration-300 hover:scale-110 hover:cursor-pointer"
    />
</a>
<a
    href="https://www.instagram.com/samuelperez_98/"
    target="_blank"
    rel="noopener noreferrer"
>
    <FaInstagram
        size={24}
        className="fill-grayLight hover:fill-white transition-colors duration-300 hover:scale-110 hover:cursor-pointer"
    />
</a>
</footer>